<!DOCTYPE html>
<html>
<head>
  <title>Error Page</title>
  <link rel="stylesheet" href="/dist/output.css">
</head>
<body class="flex justify-center items-center">
  <div class="bg-red-800 w-3/5 h-28 flex flex-col justify-center items-center font-bold text-white rounded gap-2">
    <h1 class="">Error</h1>
    <p><%= message %></p>
  </div>
</body>
</html>
