<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meteorite Explorer</title>
    <link rel="stylesheet" href="/dist/output.css">
</head>
<body class="bg-stone-900">
    <footer class="flex flex-col items-center justify-center ">
        <div class=" bg-blue-800 w-full text-center">
            <h1 class="text-xl">Meteorite Explorer</h1>
        </div>
        <div>
            <form class=" bg-red-300 p-4 gap-2 flex" action="/getMeteorite" method="get">
                <input class="border-b-2 border-black text-gray-600 opacity-80" type="text" value=""  placeholder="Enter Search Terms" name="searchTerms">
                <button class=" bg-red-600 rounded text-black  p-4">Search</button>
            </form>
        </div>
    </footer>
    <main>
        <% if(typeof data !== 'undefined') { %>
        <%datas.forEach(data =>{%>
            <div><%=data.name%></div>
            <div><%=data.id%></div>
        <%})%>
        <%}%>
    </main>
    <script src="/js/main.js" defer ></script>
</body>
</html>